body {
  margin: 0 auto;
}

header {
  position: fixed;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 75px;
  border-bottom: 1px solid black;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
}

header img {
  margin-left: 30px;
}

h1 {
  font-size: inherit;
  margin-left: 10px;
  color: MediumAquamarine;
  flex-basis: 100px;
}

nav {
  margin-right: 40px;
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: black;
  margin: 15px;
}

main {
  margin: 0 auto;
  width: 1230;
  position: relative;
  padding: 20px;
  top: 76px;
  display: inline-flex;
  border: 1px solid black;
}

.img-title {
  margin: 0;
}

div {
  border: 1px solid black;
  padding: 0;
}

.column {
  margin-right: 20px;
  height: 630px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
