body {
  margin: 0 auto;
}

header {
  width: 100%;
  position: fixed;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 75px;
  border-bottom: 1px solid black;
  align-items: center;
  z-index: 10;
  background-color: white;
}

header div {
  width: 200px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.container {
  display: flex;
}

header img {
  margin-left: 30px;
}

h1 {
  font-size: inherit;
  margin-left: 10px;
  color: MediumAquamarine;
  flex-basis: 100px;
}

nav {
  width: 100%;
  margin-right: 40px;
  display: flex;
  justify-content: flex-end;
}

nav a {
  color: black;
  margin: 15px;
}

main {
  margin: 0 auto;
  width: 1230px;
  position: relative;
  padding-top: 40px;
  top: 76px;
}

h2 {
  text-align: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  width: 100%;
}

h3 {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

main p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.img-title {
  margin: 0;
}

.column {
  margin-right: 30px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.sub-column {
  display: flex;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  align-items: center;
  height: 300px;
}

.sub-column-child {
  width: 285px;
  margin: 30px 0;
}

.sub-column-child div {
  margin-bottom: 80px;
}

#main-story {
  background-image: url("../images/main-story.png");
  padding-left: 20px;
}

#main-story h2 {
  font-size: 40px;
  text-align: left;
}

#fall-season {
  background-image: url("../images/fall-season.png");
}

#hipster-cameraman {
  background-image: url("../images/hipster-cameraman.png");
}

#cat-ceo {
  background-image: url("../images/cat-ceo.png");
}

.column.small h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.column.small ul {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-top: 45px;
}

.column.small li {
  padding: 11px 20px;
  border-bottom: 1px solid black
}

footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 300px;
}

footer > div {
  justify-content: center;
  display: inline-flex;
  align-items: center;
}

footer > div > div {
  align-items: center;
  width: 105px;
}

h4 {
  border-right: 2px solid white;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

footer nav {
  margin: 0;
  width: 260px;
}

footer nav a {
  margin-left: 12px;
  margin-right: 12px;
}

footer p {
  margin: 0;
}
